{% extends "itamapp/base.html" %}
{% block content %}
<div class="container-fluid">
    <form class="mx-auto">
        <h4 class="text-center">Login</h4>
        <div class="mb-3 mt-5">
          <input type="text" class="form-control" name="email_address", placeholder="Email Address" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>
</div>
{% endblock%}





